language = "csharp"
run = "mcs -out:main.exe 'Projeto_POO_09/main.cs' 'Projeto_POO_09/categoria.cs' 'Projeto_POO_09/produto.cs' 'Projeto_POO_09/ncategoria.cs' 'Projeto_POO_09/nproduto.cs' 'Projeto_POO_09/ncliente.cs' 'Projeto_POO_09/cliente.cs'; mono main.exe"