language = "csharp"
run = "mcs -out:main.exe 'Projeto_POO_10/main.cs' 'Projeto_POO_10/categoria.cs' 'Projeto_POO_10/produto.cs' 'Projeto_POO_10/ncategoria.cs' 'Projeto_POO_10/nproduto.cs' 'Projeto_POO_10/ncliente.cs' 'Projeto_POO_10/cliente.cs'; mono main.exe"