language = "csharp"
run = "mcs -out:main.exe 'Projeto_POO_13/main.cs' 'Projeto_POO_13/categoria.cs' 'Projeto_POO_13/produto.cs' 'Projeto_POO_13/ncategoria.cs' 'Projeto_POO_13/nproduto.cs' 'Projeto_POO_13/ncliente.cs' 'Projeto_POO_13/cliente.cs' 'Projeto_POO_13/vendaitem.cs' 'Projeto_POO_13/venda.cs' 'Projeto_POO_13/nvenda.cs' 'Projeto_POO_13/nfeedback.cs' 'Projeto_POO_13/feedback.cs' 'Projeto_POO_13/arquivo.cs'; mono main.exe"